<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Robin.ControlPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Robin.ControlPanel.Properties.Settings>
            <setting name="ArduinoSerialPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="ArduinoBaudRate" serializeAs="String">
                <value>56600</value>
            </setting>
            <setting name="CamIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </Robin.ControlPanel.Properties.Settings>
    </userSettings>
	<!--<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="bin" />
		</assemblyBinding>
	</runtime>-->
</configuration>